.example-icon {
    padding: 0 14px;
  }

  .upload{
    margin-left: 20px;
    color: rgb(36, 24, 49);
    margin-top: 15px;
  }
  table {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .tableshow {
    margin-left: 40px;
    margin-right: 40px;
  }

  .example-button-row button{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}